<h1>Admin</h1>

<ul>
  <li><%= link_to 'Create article', new_article_path %></li>
  <li><%= link_to 'View all articles', articles_path %></li>
  <li><%= link_to 'Create article_comment', new_article_comment_path %></li>
  <li><%= link_to 'View all article_comments', article_comments_path %></li>
</ul>
