<%= form_for(player) do |f| %>
  <div class="field">
    <%= player.name %>(<%= player.point %>)
    <button type="submit" class="btn btn-primary">Good</button>
    <%= link_to 'Bad', { :controller => 'players', :action => 'bad', :id => player.id, :round_id => player.round_id }, { :class => 'btn btn-inverse' } %>
  </div>
<% end %>
