<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "test1", '#' %></li>
          <li><%= link_to "test2", '#' %></li>
          <li><%= link_to "test3", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
